.content {
  max-width: 800px;
  margin: auto;
}
h1 {
            color: rgb(0, 232, 15); font-family: "Arial", arial, sans-serif;
        }  

p {
   color: rgb(0, 232, 15); font-family: "Arial", arial, sans-serif;
        }  
        body {
            background-color: rgb(197, 200, 205); font-family:
        }
