.content {
  max-width: 800px;
  margin: auto;
}
h1 {
            color: rgb(0, 0 0); font-family: "Arial", arial, sans-serif;
        }  

p {
   color: font-family: "Arial", arial, sans-serif;
        }  
        body {
            background-color: rgb(0, 0, 0; font-family:
        }
